* {
  font-smooth: always;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 7em;
}

span {
  font-size: .5em;
  font-style: italic;
}
